[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[user]
	email = ngthinh302@gmail.com
	name = felixngfender
[init]
	defaultBranch = main
[credential]
	helper = store
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
